:root {
  --color-green: #5fbaa7;
  --color-white: #f4f4f4;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: inherit;
}


body {
  background-color: var(--color-white);
}

.main {
  max-width: 1440px;
  padding: 48px 120px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}